<nav>
    <ul>
        <li><a href="/">Inici</a></li>
        <li><a href="/productes">Productes</a></li>
    </ul>
    <select id="selTema">
        <option value="clar">Clar</option>
        <option value="nit">Nit</option>
        <option value="contrast">Contrast</option>
    </select>
</nav>