<nav class="contenidor">
    <div class="fila">
        <a href="/" class="bto">Inici</a>
        <a href="/productes" class="bto">Productes</a>
        <a href="/clients" class="bto">Clients</a>
        <a href="/vendes" class="bto">Vendes</a>
        
        <select id="selTema">
            <option value="clar">Tema Clar</option>
            <option value="nit">Tema Nit</option>
            <option value="contrast">Contrast</option>
        </select>
    </div>
</nav>