:root { /* Tema Clar */
  --bg-color: #ffffff;
  --text-color: #333;
}

body.dark-theme { /* Nit Suau */
  --bg-color: #2c3e50;
  --text-color: #ecf0f1;
}

body.high-contrast { /* Alt Contrast */
  --bg-color: #000000;
  --text-color: #ffff00;
}