<section class="bloc">
    <h2>Benvingut al MiniERP</h2>
    <div class="pestanyes">
        <button id="btnKpi" class="active">Resum KPIs</button>
    </div>
    
    <div id="zonaKpi" class="grid-kpi">
        <div class="card">
            <h3>Alertes d'Stock</h3>
            <p class="gran text-vermell">{{alertesStock}} productes baixos</p>
        </div>
        <div class="card">
            <h3>Vendes d'avui</h3>
            <p class="gran">{{vendesAvui}} €</p>
        </div>
    </div>
</section>
