<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/estils.css">
    <script src="/js/main.js" defer></script>
    <title>MiniERP Shop</title>
</head>
<body>
    <div class="theme-selector">
        <button onclick="setTheme('clar')">☀️ Clar</button>
        <button onclick="setTheme('nit')">🌙 Nit</button>
        <button onclick="setTheme('contrast')">👁️ Alt Contrast</button>
    </div>

    {{> header}}
    {{> menu}}

    <main class="contenidor">
        {{{body}}}
    </main>

    {{> footer}}
</body>
</html>