<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/estils.css">
    <script src="/js/main.js" defer></script>
    <title>MiniERP Shop</title>
</head>
<body onload="init()">
    {{> header}}
    {{> menu}}
    <main class="contenidor">
        {{{body}}}
    </main>
    {{> footer}}
</body>
</html>